[package]
name = "vpm-repos-gen"
version = "1.3.0"
authors = ["koyashiro <develop@koyashi.ro>"]
edition = "2021"
description = "vpm repos generator"
readme = "README.md"
homepage = "https://github.com/koyashiro/vpm-repos-gen"
repository = "https://github.com/koyashiro/vpm-repos-gen"
license = "MIT OR Appach-2.0"
keywords = ["base64", "base64url"]
categories = ["command-line-utilities"]

[dependencies]
anyhow = "1.0.70"
clap = { version = "4.2.1", features = ["derive", "cargo"] }
dirs = "5.0.0"
octocrab = { version = "0.19.0", default-features = false, features = ["rustls-tls"] }
regex = "1.7.3"
reqwest = { version = "0.11.16", default-features = false, features = ["json", "rustls-tls"] }
semver = { version = "1.0.17", features = ["serde"] }
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0.96"
thiserror = "1.0.40"
tokio = { version = "1.27.0", features = ["rt", "macros", "rt-multi-thread"] }
