[package]
name = "vpm-repos-gen"
version = "0.1.0"
authors = ["koyashiro <develop@koyashi.ro>"]
edition = "2021"
description = "vpm repos generator"
readme = "README.md"
homepage = "https://github.com/koyashiro/vpm-repos-gen"
repository = "https://github.com/koyashiro/vpm-repos-gen"
license = "MIT OR Appach-2.0"
keywords = ["base64", "base64url"]
categories = ["command-line-utilities"]

[dependencies]
anyhow = "1.0.69"
clap = { version = "4.1.8", features = ["derive", "cargo"] }
octocrab = "0.18.1"
regex = "1.7.1"
reqwest = { version = "0.11.14", features = ["json"] }
semver = { version = "1.0.16", features = ["serde"] }
serde = { version = "1.0.154", features = ["derive"] }
serde_json = "1.0.94"
thiserror = "1.0.39"
tokio = { version = "1.26.0", features = ["rt", "macros", "rt-multi-thread"] }
xdg = "2.4.1"
